absl-py
ansible
ansible-base
ansible-core
apache-libcloud
argcomplete
astunparse
Babel
bcrypt
blinker
certifi
chardet
click
colorama
cryptography
Flask
Flask-Bcrypt
Flask-Login
mysql-connector
mysql-connector-python
gunicorn
# Other dependencies...
