absl-py
authlib
ansible
ansible-core
apache-libcloud
argcomplete
astunparse
Babel
bcrypt
blinker
certifi
chardet
click
colorama
cryptography
Flask
Flask-Bcrypt
Flask-Login
mysql-connector
mysql-connector-python
gunicorn
flask-session
python-dotenv
flask-socketio
